[Unit]
Description=Configure my Wacom tablet
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=/home/manchot/.Scripts/wac

[Install]
WantedBy=graphical-session.target
